<div class="mt-5 columns">

<div class="column">
<h1 class="title is-1">Pokemon</h1>
<ul>
    <% @pokemons.each do |pokemon| %>
        <li class="mt-2 mb-2"><%= link_to pokemon.name.capitalize(), pokemon %></li>
    <% end %>
</ul>
<p>See more Pokemon <a href="/pokemons/">here.</a>
</div>
<br>
<div class="column">
<h1 class="title is-1">Trainers</h1>
<ol>
    <% @trainers.each do |trainer| %>
        <li  class="mt-2 mb-2"><%= link_to trainer.name, trainer %></li>
    <% end %>
</ol>
<p>See more Pokemon Trainers <a href="/trainers/">here.</a>
</div>