<h1 class="title is-1">Trainers</h1>

<ul>
    <% @trainers.each do |trainer| %>
        <li class="mt-2 mb-2"><%= link_to trainer.name, trainer %> from the <%= @region[trainer.region_id.to_s].capitalize() %> region</li>
    <% end %>
</ul>
