<h1 class="title is-1">Trainers</h1>

<ul>
    <% @trainers.each do |trainer| %>
        <li><%= link_to trainer.name, trainer %> - from the <%= @region[trainer.region_id.to_s].capitalize() %> Region</li>
    <% end %>
</ul>
